body {
    background-image: url("https://img.freepik.com/free-vector/seamless-pattern-money-green-flat-cartoon-style_221062-105.jpg");
}

h1 {
    padding-top: .1em;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
}

h2 {
    padding-top: .1em;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.1em;
}

input {
    width: 15em;
    height: 1em;
}

#container-ryan {
    text-align: center;
    background-color: #f8f8ff;
    height: 30em;
    margin:auto;
    max-width: fit-content;
    border: solid black 5px;
    border-radius: 20px;
    box-shadow: 6px 0px 75px 47px rgba(0,0,0,0.65);
    -webkit-box-shadow: 6px 0px 75px 47px rgba(0,0,0,0.65);
    -moz-box-shadow: 6px 0px 75px 47px rgba(0,0,0,0.65);
    padding:20px;
}

#spacing {
    height:100px;
}

#button {
    margin-top: 1em;
    height: 1.5em;
    width: 8em;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    background-color: red;
    color: white;
    border: solid black 3px;
    border-radius: 10px;
}

#button:hover {
    color: black;
    font-style: italic;
}

#service {
    height: 1.5em;
    width: 10em;
}

